language#Coptic, .Coptic { font-family: Coptic; }
language#Arabic {
	direction: rtl;
	font-family: Noto;
}

/* title-html */
Comment, title-html, introduction, conclusion {
	display: flex;
}
title-html { align-items: center; }
title-html Language {
    flex: 1 0 10%;
    font-size: 1.25em;
	line-height: 1.25;
    text-align: center;
    padding-inline: 12px 4px;
	padding-block: 12px;
    color: var(--accent-bg);
}

/* COMMENT */
Comment Language, introduction language, conclusion language {
	flex: 1 0 10%;
	padding-inline: 8px;
	color: var(--accent-bg);
	font-style: italic;
	text-align: justify;
}

/* SILENT PRAYER */
[silent="true"] > * {
	opacity: .6;
	filter: grayscale(1);
}

Text {
	display: flex;
	color: var(--main-fg);
}
Text Language {
	flex: 1 0 10%;
	min-width: 0;
	padding: 8px;
	text-align: justify;
	overflow-wrap: break-word;
	hyphens: auto;
}
Language#English { order: 1; }
Language#Arabic { order: 4; }
Language#Indonesian { order: 1; }

Language#Coptic {
	order: 2;
	line-height: 1.55;
}
Language#Coptic[coptic-row] { /* dispay coptic-row in its own row */
	order: 5;
	flex-basis: 100%;
}

/* BIBLE */
biblereference { display: contents; }
bibleverse {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 6px 4px;
	padding: 4px;
	color: var(--main-fg);
}
bibleverse Language {
	flex: 1 0 10%;
	min-width: 0;
	padding: 4px;
	text-align: start;
}

bibleverse Language::before {
	content: attr(verse);
	padding-inline-end: 4px;
	color: var(--accent-bg)
}
bibleverse::after {
	content: '';
	position: absolute;
	inset: 0;
    border-radius: 6px;
	background: var(--accent-bg);
	opacity: 0.2;
}

/* SECTION */
Section {
	display: block;
    margin: 4px;
    border: 1px solid var(--accent-bg);
    border-radius: 6px;
    background: #42628e1a;
}
Section title-html {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 48px 8px 12px;
}
:root[dir="rtl"] Section title-html { padding: 8px 12px 8px 48px; }

Section title-html Language {
	padding: 4px;
	text-align: left;
}
section[expanded] title-html::after {
	content: 'unfold_more';
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;
    position: absolute;
	inset-inline-end: 16px;
    top: calc(50% - 14px);
    font-size: 24px;
    color: var(--accent-bg);
}
section[expanded="true"] title-html { border-bottom: 1px solid var(--accent-bg); }
section[expanded="true"] title-html::after { content: 'unfold_less'; }
section[expanded="false"] title-html ~ * { display: none; }

/* hide them in the document (but not in the outliner) */
main title-html.hidden {
	max-height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

linkdocument {
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 4px 4px 0;
	padding: 16px;
	border-radius: 6px;
	color: var(--accent-red);
    font-weight: bold;
}
/* linkdocument language { flex: 1; } */

/* ROLE */
/* Role {}
Role Text {}
Role Text Language#English {}
Role Text Language#Arabic {}
Role Text Language#Coptic {} */

role text language::before {
	display: block;
	font-weight: 600;
}
role#Bishop {
	& text:first-child #English::before { content: 'Bishop' }
	& text:first-child #Arabic::before { content: 'الأسقف' }
	& text:first-child #Indonesian::before { content: 'Uskup' }
	& text:first-child #Coptic::before { content: 'Piepickopoc' }
}
role#Priest {
	& text:first-child #English::before { content: 'Priest' }
	& text:first-child #Arabic::before { content: 'الكاهن' }
	& text:first-child #Indonesian::before { content: 'Abouna' }
	& text:first-child #Coptic::before { content: 'Piouhb' }
}
role#Reader {
	& text:first-child #English::before { content: 'Reader' }
	& text:first-child #Arabic::before { content: 'القارئ' }
	& text:first-child #Indonesian::before { content: 'Pembaca' }
}
role#Deacon {
	& text:first-child #English::before { content: 'Deacon' }
	& text:first-child #Arabic::before { content: 'الشماس' }
	& text:first-child #Indonesian::before { content: 'Diakon' }
	& text:first-child #Coptic::before { content: 'Pidiakwn' }
}
role#People {
	& text:first-child #English::before { content: 'People' }
	& text:first-child #Arabic::before { content: 'الشعب' }
	& text:first-child #Indonesian::before { content: 'Umat' }
	& text:first-child #Coptic::before { content: 'Pilaoc' }
}

content main ul { padding-inline-start: 40px; }
