language#Coptic, .Coptic { font-family: Coptic; }
language#Arabic {
	direction: rtl;
	font-family: Noto;
}

/* title-html */
Comment, title-html {
	display: flex;
}
title-html Language {
    flex: 1 0 10%;
    font-size: 1.25em;
    text-align: center;
    padding: 4px;
    color: var(--accent-bg);
}

/* COMMENT */
Comment {
	display: flex;
}
Comment Language {
	flex: 1 0 10%;
	padding: 4px;
	color: var(--accent-bg);
}

Text {
	display: flex;
	color: var(--main-fg);
}
Text Language {
	flex: 1 0 10%;
	min-width: 0;
	padding: 4px;
	text-align: start;
}
Text Language#English { order: 1; }
Text Language#Arabic { order: 3; }
Text Language#Coptic {
	order: 2;
	text-align: center;
}

/* SECTION */
Section {
	display: block;
    margin: 4px;
    border: 1px solid var(--accent-bg);
    border-radius: 6px;
    background: #42628e1a;
}
Section title-html {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px 48px 12px 12px;

}
Section title-html Language {
	justify-content: left;
	text-align: left;
    line-height: 1.25rem;
}
section[expanded] title-html::after {
	content: 'unfold_more';
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;
    position: absolute;
    right: 16px;
    top: calc(50% - 14px);
    font-size: 24px;
    color: var(--accent-bg);
}
section[expanded="true"] title-html { border-bottom: 1px solid var(--accent-bg); }
section[expanded="true"] title-html::after { content: 'unfold_less'; }
section[expanded="false"] title-html ~ * { display: none; }

/* ROLE */
Role {

}
Role Text {

}
Role Text Language#English {

}
Role Text Language#Arabic {

}
Role Text Language#Coptic {

}

content main ul { padding-inline-start: 40px; }
