list header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 8px;
	background: var(--accent-bg);
	color: var(--accent-fg);
	z-index: 1;
	box-shadow: 0 4px 4px #0004;
}
list header .fab {
	background: var(--accent-bg);
	color: var(--accent-fg);
	box-shadow: none;
}
list header h3 {
	margin: 0 8px;
	font: 300 24px / 28px 'Poppins'
}

list ul {
	margin: 4px 0;
	padding: 0;
	overflow-y: auto;
}
