detail header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 8px;
	background: var(--accent);
	color: var(--sec);
	z-index: 1;
	box-shadow: 0 4px 4px #0004;
}
detail header .fab {
	background: var(--accent);
	color: var(--sec);
	box-shadow: none;
}
detail header h4 {
	margin: 0 8px;
	font: 300 24px / 24px 'Poppins'
}

detail ul {
	margin-top: 8px;
	padding: 0;
}