.list-item {
	display: flex;
    align-items: center;
	list-style: none;
	padding: 28px;
	border-bottom: 1px solid var(--brdr);
	color: var(--main-fg);
	font-size: 1.2em;
}

.list-item.shallow { padding: 16px 28px; }

.list-item .link-indicator {
	margin-inline-start: auto;
	color: var(--accent-bg);
	opacity: .5;
}

.list-item sub {
	display: block;
	color: var(--accent-bg);
	font-size: .6em;
	font-weight: 600;
}

.list-item[disabled] {
	filter: grayscale(1);
	opacity: .3;
	pointer-events: none;
}
