.list-item {
	display: flex;
    align-items: center;
	list-style: none;
	padding: 28px;
	border-bottom: 1px solid var(--brdr);
	color: var(--main-fg);
	font-size: 1.2em;
}

.list-item .link-indicator {
	margin-inline-start: auto;
	color: var(--brdr);
}

.list-item:active {  }