document header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 8px;
	background: var(--accent-bg);
	color: var(--accent-fg);
	z-index: 1;
	box-shadow: 0 4px 4px #0004;
}
document header .fab {
	background: var(--accent-bg);
	color: var(--accent-fg);
	box-shadow: none;
}
document header h3 {
	margin: 0 8px;
	font: 300 24px / 28px 'Poppins';
}
document header h5 {
	margin: 0 8px;
	font: 500 13px / 16px 'Poppins';
}

document ul {
	margin-top: 8px;
	padding: 0;
}

.col {
	display: flex;
	flex-direction: column;
}

#document-actions { opacity: 0; transition: 0.2s; }
#document-actions.show { opacity: 1; }

.actions-container {
	display: flex;
	justify-content: center;
	position: absolute;
	inset: calc(100dvh - 80px) auto auto calc(50vw - 64px);
	border-radius: 50px;
	box-shadow: 2px 4px 8px #0004;
	overflow: hidden;
}

.actions-container .fab {
	position: relative;
	height: 48px;
	min-width: 56px;
	border-radius: 0;
}
.actions-container .fab:not(:last-child)::after {
	content: '';
	position: absolute;
	right: 0;
	width: 1px;
	height: 20px;
	opacity: 0.3;
	background: var(--accent-fg);
}

/* gives room for the floating-action-pill (fap :D) */
main {
	padding-bottom: 100px;
	overflow-x: hidden;
}

/* SEARCH */
document .search-container {
	inset: calc(100dvh - 80px) 16px auto 16px;
	color: var(--accent-bg);
	background: transparent;
	transform: scaleX(0);
	transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	pointer-events: none;
}
document .search-container.show {
	transform: scaleX(1);
	pointer-events: all;
}

document .search-container input {
	width: 100%;
	height: 48px;
	padding: 8px 16px;
	border-radius: 50px 0 0 50px;
	border: none;
	color: var(--accent-fg);
	background: var(--accent-bg);
	box-sizing: border-box;
	outline: none;
}
document .search-container input::placeholder {
	color: var(--accent-fg);
	font-style: italic;
	opacity: .6;
}

document .search-container .actions-container {
	inset: 0 0 auto auto;
	box-shadow: none;
}
document .search-container .actions-container .fab { width: 48px; }

mark {
	padding: 0 4px;
	border-radius: 4px;
	border: 1px dashed var(--accent-bg);
	background: var(--accent-fg);
}

#search-index {
	height: 48px;
	color: var(--accent-fg);
	background: var(--accent-bg);
	font-size: 12px;
	line-height: 46px;
}

aside {
	position: absolute;
	inset: 12px 12px auto;
	height: calc(100dvh - 40px);
	padding: 8px;
	border-radius: 8px;
	background: var(--main-bg);
	box-shadow: 2px 4px 8px #0004;
	z-index: 1;
	overflow-y: auto;
	transform: translateY(150vh);
	transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
aside.show { transform: translateY(0); }

aside title-html {
	flex-direction: column;
	align-items: start;
}
aside title-html:not(:last-child) { border-bottom: 1px solid #42628e41; }

#close-outline {
	position: sticky;
    top: calc(100% - 64px);
    margin: auto;
	background: var(--accent-red);
	box-shadow: 2px 4px 8px #0004;
}

aside title-html:first-of-type { margin-top: -56px; }
aside title-html:last-of-type { margin-bottom: 80px; }
