document {
	display: flex;
	flex-direction: column;
}

#document-actions { opacity: 0; transition: 0.2s; }
#document-actions.show { opacity: 1; }

header button.ripple { transition: .2s, filter 0.5s; }
header button.hide { margin-left: -60px; }

/* gives room for the floating-action-pill (fap :D) */
main {
	padding-bottom: 84px;
	overflow-x: hidden;
}

/* SEARCH */
document .search-container {
	inset: calc(100dvh - 64px) 16px auto;
	width: auto; /* on ios, width: fit-content breaks the layout! */
	color: var(--accent-bg);
	background: transparent;
	transform: scaleX(0);
	transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	pointer-events: none;
	z-index: 1;
}
document .search-container.show {
	transform: scaleX(1);
	pointer-events: all;
}

document .search-container input {
	width: 100%;
	height: 48px;
	padding: 8px 16px;
	border-radius: 50px 0 0 50px;
	border: none;
	color: var(--accent-fg);
	background: var(--accent-bg);
	box-sizing: border-box;
	outline: none;
}
document .search-container input::placeholder {
	color: var(--accent-fg);
	font-style: italic;
	opacity: .6;
}

document .search-container .actions-container {
	inset: 0 0 auto auto;
	box-shadow: none;
}
document .search-container .actions-container .fab { width: 48px; }

mark {
	padding: 0 4px;
	border-radius: 4px;
	border: 1px dashed var(--accent-bg);
	background: var(--accent-fg);
}

#search-index {
	height: 48px;
	color: var(--accent-fg);
	background: var(--accent-bg);
	font-size: 12px;
	line-height: 46px;
}

aside {
	position: absolute;
	inset: 72px 0 0;
	padding-top: 12px;
	/* border-radius: 8px;
	background: var(--main-bg);
	box-shadow: 2px 4px 8px #0004; */
	backdrop-filter: blur(16px);
	z-index: 1;
	overflow-y: auto;
	overscroll-behavior: contain;
	transform: translateY(150vh);
	transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
aside.show { transform: translateY(0); }

aside > * {
	flex-direction: column;
	align-items: start;
	margin: 0 0 8px;
	padding: 0 12px 8px;
}
aside > *:not(:last-child) { border-bottom: 1px solid #42628e41; }
aside > * language {
	padding: 4px 0 !important;
	text-align: left !important;
	scale: .9;
	transform-origin: 0;
}

aside title-html {
	flex-direction: column;
	align-items: start;
}

aside linkdocument {
	flex-direction: row;
	margin: 0 0 8px;
	padding: 0 16px 8px;
	border-radius: 0;
}

#close-outline {
	position: sticky;
    top: calc(100% - 64px);
    margin: auto;
	padding: 0;
	color: var(--accent-fg);
	background: var(--accent-red);
	box-shadow: 2px 4px 8px #0004;
}

aside > :nth-child(2) { margin-top: -56px; }
aside > :last-child { margin-bottom: 80px; }

document.page { transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1), font-size 0s; }

/* LANDSCAPE */
.landscape-back, .landscape-action { display: none; }
.landscape-back {
	position: fixed;
	inset: 8px auto auto 8px;
	color: var(--accent-fg);
	background: var(--accent-bg);
}
@media (orientation: landscape) {
	document header { display: none; }
	.landscape-back, .landscape-action { display: flex; }
	.landscape-back, #document-actions.show { opacity: .6; }
	aside.show { inset: 0; }
}
