calendar {
	display: flex;
	flex-direction: column;
}

calendar ul {
	margin: 0;
	padding: 0 0 84px;
	overflow-y: auto;
}

calendar .actions-container .fab.text span {
	margin-bottom: 1px;
	font-size: 15px;
}
calendar .actions-container .material-symbols-outlined { margin-bottom: 2px; }

calendar .actions-container button {
	position: relative;
	width: 64px;
}

calendar .actions-container input[type="date"] {
	position: absolute;
	inset: 0;
	opacity: 0;
}
calendar .actions-container input[type="date"]::-webkit-calendar-picker-indicator {
	scale: 1.4;
	width: 100%;
	height: 100%;
}
