/* ICON FONT - from google fonts */
@font-face {
	font-family: 'Material Symbols Outlined';
	font-style: normal;
	font-weight: 100 700;
	src: url(assets/fonts/material-icons.woff2) format('woff2');
}

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 200;
	src: url("assets/fonts/Poppins-Thin.ttf");
}

@font-face {
	font-family: "Noto";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/NotoSansArabic-Regular.ttf");
}
@font-face {
	font-family: "Noto";
	font-style: normal;
	font-weight: 200;
	src: url("assets/fonts/NotoSansArabic-Thin.ttf");
}

@font-face {
	font-family: "Coptic";
	font-style: normal;
	font-weight: normal;
	src: url("assets/fonts/Coptic.ttf");
}

:root {
	--main-bg: #fff0d9;
	--main-fg: #222;
	--accent-bg: #42628e;
	--accent-fg: #fff;
	--brdr: #c7c7c7;
	--accent-red: #eb5757;
}
@media (prefers-color-scheme: dark) {
	:root {
		--main-bg: #1a1817;
		--accent-bg: #4e6483; /* #6e8099; */
		--main-fg: #ccc;
		--accent-fg: #fff;
		--brdr: #333;
	}

	document main, document aside title-html { --accent-bg: #8da4c7; }

	body::before, header::before { filter: invert(1); }

	* { box-shadow: none !important; }
}

* { font-family: Poppins; }

/* ICON FONT */
.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
:root[dir="rtl"] {
	& [i18n] { font-family: Noto; }
	& .material-symbols-outlined { scale: -1 1; }
}

.material-symbols-outlined {
	font-variation-settings:
	'FILL' 0,
	'wght' 200,
	'GRAD' 0,
	'opsz' 48
}

.ripple { transition: filter 0.5s; }
.ripple:active { filter: brightness(.85); }

body {
	display: grid;
	margin: 0;
	background: var(--main-bg);
	overflow-x: hidden;
}

body::before, header::before {
	content: "";
	position: fixed;
	inset: 0;
	background: url(assets/images/coptic-cross.svg);
	opacity: 0.05;
	background-size: 1500px;
    background-position: -450px -300px;
	pointer-events: none;
}
header::before { position: absolute; }

.page {
	grid-area: 1 / 1;
	position: fixed;
	inset: 0;
	opacity: 0;
	transform: translateY(20vh);
	transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	pointer-events: none;
}
.page.show {
	opacity: 1;
	transform: translateY(0);
	pointer-events: all;
}

.fab {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	border-radius: 50px;
	border: none;
	background: var(--accent-fg);
	color: var(--accent-bg);
	box-shadow: 2px 4px 8px #00000026;
}

.col {
	display: flex;
	flex-direction: column;
}
