loading {
    display: none;
	position: relative;
    width: 100%;
    height: 2px;
	margin-top: -2px;
    background-color: var(--accent-bg);
    overflow: hidden;
    z-index: 1;
}
loading.show { display: block; }

loading::before, loading::after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: var(--accent-fg);
    animation: indeterminate 2s infinite ease-out;
}

loading::after {
    background-color: var(--accent-fg);
    animation: indeterminate2 2s infinite ease-in;
}

@keyframes indeterminate {
    0% {
        left: -100%;
        width: 10%;
    }
    70% {
        left: 100%;
        width: 100%;
    }
	100% {
        left: 100%;
        width: 100%;
    }
}

@keyframes indeterminate2 {
    0% {
        left: -100%;
        width: 100%;
    }
	70% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}