html {
	--bg: #1c1b22;
	--border: #35323f;
	--fg: #ccc;
	--fg-d: #999;
	--comment: #3eaa00;

	--gutter: 16px;

	overflow: hidden;
}

* { font: 400 14px/normal consolas, 'Courier New', monospace; }
body {
	display: flex;
	flex-direction: column;
	height: calc(100dvh - 2 * var(--gutter));
	margin: 0;
	padding: var(--gutter);
	color: var(--fg);
	background: var(--bg);
	font-family: consolas, 'Courier New', monospace;
	overflow: hidden;
}

main {
	flex-grow: 1;
	padding: 12px 12px 12px 92px;
	border: 1px solid var(--border);
	box-sizing: border-box;
	overflow: hidden auto;

	&::before, &::after {
		content: '';
		position: fixed;
		inset: var(--gutter) auto var(--gutter) calc(82px + var(--gutter));
		width: 1px;
		background: var(--border);
	}
	&::after {
		inset: var(--gutter) auto calc(var(--gutter) + 29px) calc(64px + 80ch);
		opacity: .4;
	}
}

/* content-block */
content-block {
	position: relative;
	display: block;
	max-width: 80ch;
	margin-inline-start: -32px;
	overflow-y: clip;

	& pre {
		margin: 0;
		padding-inline-start: 64px;
		white-space: pre-wrap;
	}

	& .line-nums {
		position: absolute;
		inset: 0 auto 0 -56px;
		width: 44px;
		text-align: end;
	}

	& details[open] {
		& summary::before { rotate: 135deg; translate: 1px -1px; }
		& summary::after { display: none; }

		& pre::after {
			content: '}';
			display: block;
			margin-inline-start: -32px;
		}
	}

	& summary {
		display: flex;
		align-items: center;
		list-style: none;

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			margin: 0 24px 0 0;
			border-width: 2px 2px 0 0;
			border-style: solid;
			rotate: 45deg;
			transition: .05s;
			cursor: pointer;
		}
		&::after { /* ellipsis */
			content: '\22EF';
			margin: .1em .4em 0;
			line-height: 1em;
			cursor: pointer;
		}
	}
}

.block-comment {
	color: var(--comment);

	&::before { content: '/*'; display: block; }
	&::after { content: '*/'; display: block; }
}
.comment {
	position: relative;
	margin: 0;
	color: var(--comment);

	&::before { content: '// '; }

	&::after {
		content: attr(line);
		position: absolute;
		inset-inline-start: -53px;
		color: var(--fg);
	}
}

footer {
	display: flex;
	align-items: center;
	border-inline-start: 1px solid var(--border);
	border-block-end: 1px solid var(--border);

	& logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 81px;
		height: 100%;
		margin-inline-end: auto;
		background: var(--border);
	}

	/* socials */
	ul {
		display: contents;
		list-style-type: none;
	}
	& li {
		margin-inline-start: -1px;
		padding: 0;
		border-inline: 1px solid var(--border);

		& a {
			display: flex;
			align-items: center;
			gap: 6px;
			padding: 4px 8px 5px 8px;
			color: var(--fg-d);
			text-decoration: none;

			/* chevron */
			& i {
				--size: 5px;

				width: var(--size);
				height: var(--size);
				border-top: 1px solid;
				border-inline-end: 1px solid;
				translate: 0 -2px;
				transition: .2s;

				&::before {
					content: '';
					display: block;
					width: calc(2 * var(--size));
					height: 1px;
					background: var(--fg-d);
					transform: translate(-3.5px, 3px) rotate(-45deg);
				}
			}
			&:hover { color: var(--fg); }
			&:hover i { translate: 2px -4px; }
			&:hover i::before { background: var(--fg); }
		}
	}
}
