html {
	--bg: #1c1b22;
	--border: #35323f;
	--fg: #D4D4D4;
	--fg-d: #999;
	--accent: #9cdcfe;
	--comment: #e4b074;

	--win-inset: 16px;
	--tab-width: 32px;

	overflow: hidden;
}

*, *::before, *::after { font: 400 14px/normal consolas, 'Courier New', monospace; }
body {
	display: flex;
	flex-direction: column;
	height: calc(100dvh - 2 * var(--win-inset));
	margin: 0;
	padding: var(--win-inset);
	color: var(--fg);
	background: var(--bg);
	font-family: consolas, 'Courier New', monospace;
	overflow: hidden;
}

main {
	flex-grow: 1;
	display: flex;
	border: 1px solid var(--border);
	box-sizing: border-box;
	overflow: hidden auto;
	scrollbar-color: #777 transparent;

	/* guides */
	&::before, &::after {
		content: '';
		position: fixed;
		inset: var(--win-inset) auto var(--win-inset) calc(82px + var(--win-inset));
		width: 1px;
		background: var(--border);
	}
	&::after {
		inset: var(--win-inset) auto calc(var(--win-inset) + 29px) calc(var(--tab-width) + 88ch);
		opacity: .4;
	}
}

gutter {
	padding: 12px 32px;
	color: var(--fg-d);
	text-align: end;
	user-select: none;
}
editor {
	height: fit-content;
	padding: 12px;
}

details {
	position: relative;
	max-width: 80ch;
	overflow-y: clip;

	& summary {
		display: flex;
		align-items: center;
		list-style: none;
		color: var(--accent);
		pointer-events: none;

		&::before {
			content: '';
			width: 6px;
			height: 6px;
			margin: 0 calc((var(--level) - 1) * var(--tab-width) + 24px) 0 calc(var(--level) * var(--tab-width) * -1);
			border-width: 2px 2px 0 0;
			border-style: solid;
			color: var(--fg);
			rotate: 45deg;
			transition: rotate .05s, opacity .2s;
			cursor: pointer;
			pointer-events: all;
		}
		&::after { /* ellipsis */
			content: '{ \22EF';
			margin: 0 .4em;
			color: var(--fg);
			line-height: .1em;
			cursor: pointer;
		}
	}

	& pre {
		position: relative;
		margin: 0;
		padding-inline-start: var(--tab-width);
		white-space: pre-wrap;

		&::before {
			content: '';
			position: absolute;
			inset: 2px auto calc(1em + 4px) 0;
			width: 1px;
			background: var(--border);
			/* opacity: .5; */
		}
	}

	&[open] {
		& > summary::before { rotate: 135deg; translate: 1px -1px; opacity: 0; }
		& > summary::after { content: '{'; }

		& > pre::after {
			content: '}';
			display: block;
			margin-inline-start: calc(-1 * var(--tab-width));
		}
	}
}

editor:has(summary:hover) summary::before,
gutter:hover + editor summary::before { opacity: 1; }

block-comment {
	color: var(--comment);

	&::before { content: '/*'; display: block; }
	&::after { content: '*/'; display: block; }
}
line-comment {
	position: relative;
	display: block;
	margin: 0;
	color: var(--comment);

	&::before { content: '// '; }

	&::after {
		/* content: attr(line); */
		position: absolute;
		inset-inline-start: -53px;
		color: var(--fg);
	}
}

footer {
	display: flex;
	align-items: center;
	border-inline-start: 1px solid var(--border);
	border-block-end: 1px solid var(--border);

	& logo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 81px;
		height: 100%;
		margin-inline-end: auto;
		background: var(--border);
	}

	/* socials */
	ul {
		display: contents;
		list-style-type: none;
	}
	& li {
		margin-inline-start: -1px;
		padding: 0;
		border-inline: 1px solid var(--border);

		& a {
			display: flex;
			align-items: center;
			gap: 6px;
			padding: 4px 8px 5px 8px;
			color: var(--fg-d);
			text-decoration: none;

			/* chevron */
			& i {
				--size: 5px;

				width: var(--size);
				height: var(--size);
				border-top: 1px solid;
				border-inline-end: 1px solid;
				translate: 0 -2px;
				transition: .2s;

				&::before {
					content: '';
					display: block;
					width: calc(2 * var(--size));
					height: 1px;
					background: var(--fg-d);
					transform: translate(-3.5px, 3px) rotate(-45deg);
				}
			}
			&:hover { color: var(--fg); }
			&:hover i { translate: 2px -4px; }
			&:hover i::before { background: var(--fg); }
		}
	}
}

.ic::before {
	--size: 24px;
	content: '';
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
}
.ic-sun::before {

}
.i-moon::before {

}
.i-sun-moon::before {

}
/* <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 330 330">
<path d="M15,180h263.787l-49.394,49.394c-5.858,5.857-5.858,15.355,0,21.213C232.322,253.535,236.161,255,240,255
	s7.678-1.465,10.606-4.394l75-75c5.858-5.857,5.858-15.355,0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213,0
	c-5.858,5.857-5.858,15.355,0,21.213L278.787,150H15c-8.284,0-15,6.716-15,15S6.716,180,15,180z"/>
</svg> ☽◐☾☼︎ */