home { overflow-y: auto; }
home header {
	position: sticky;
	top: -150px;
	display: block;
	padding: 20px 20px 48px;
	background: var(--accent-bg);
	color: var(--accent-fg);
	z-index: 1;
	box-shadow: 0 4px 4px #0004;
}

home h1 {
	margin: -8px 0 12px;
	font: 100 2rem / 3rem Poppins;
}

home h4 {
	margin: 0;
	font-weight: 400;
}

#copticDate { font: 400 1rem/1.25rem Poppins; }
#gregorianDate { font: 300 .9rem/1.25rem Poppins; }

home .header-buttons {
	position: absolute;
    bottom: 0;
	display: flex;
	gap: 16px;
    transform: translateY(50%);
}

home header .fab {
	background: var(--accent-fg);
	color: var(--accent-bg);
	box-shadow: 2px 4px 8px #00000026;
}

home ul {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	padding: 44px 0 20px;
}

home ul .card { width: 30%; }
