li.card {
	position: relative;
	border-radius: var(--radius);
	background: var(--sec);
	box-shadow: 2px 4px 8px 0 #ddd;
	list-style: none;
}

li img { border-radius: var(--radius); }

li h5 {
	position: absolute;
	inset: auto auto 8px 12px;
	display: inline;
	margin: 0;
	padding: 8px 12px;
	border-radius: 50px;
	color: var(--sec);
	background: var(--accent);
	font-weight: 400;
}
