li.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;

	& img {
		width: 80%;
		aspect-ratio: 1;
		margin: 16px auto;
		border-radius: 512px;
		object-fit: cover;
		box-shadow: 0 0 0 3px var(--main-bg), 0 0 0 5px var(--accent-bg) !important;
	}

	& h5 {
		margin: 0;
		color: var(--main-fg);
		font-weight: 400;
	}

	&[disabled] {
		filter: grayscale(1);
		opacity: .3;
		pointer-events: none;
	}
}
