content header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 8px;
	background: var(--accent);
	color: var(--sec);
	z-index: 1;
	box-shadow: 0 4px 4px #0004;
}
content header .fab {
	background: var(--accent);
	color: var(--sec);
	box-shadow: none;
}
content header h3 {
	margin: 0 8px;
	font: 300 24px / 24px 'Poppins'
}
content header h5 {
	margin: 0 8px;
	font: 500 14px / 14px 'Poppins'
}

content ul {
	margin-top: 8px;
	padding: 0;
}

.col {
	display: flex;
	flex-direction: column;
}

#document-actions { opacity: 0; transition: 0.2s; }
#document-actions.show { opacity: 1; }

.actions-container {
	display: flex;
	justify-content: center;
	position: absolute;
	inset: calc(100dvh - 80px) auto auto calc(50vw - 64px);
	border-radius: 50px;
	box-shadow: 2px 4px 8px #0004;
	overflow: hidden;
}

.actions-container .fab {
	position: relative;
	height: 48px;
	width: 64px;
	border-radius: 0;
}
.actions-container .fab:not(:last-child)::after {
	content: '';
	position: absolute;
	right: 0;
	width: 1px;
	height: 20px;
	opacity: 0.3;
	background: var(--sec);
}

/* gives room for the floating-action-pill (fap :D) */
main { padding-bottom: 100px; }

/* SEARCH */
content .search-container {
	inset: calc(100dvh - 80px) 16px auto 16px;
	color: var(--accent);
	background: transparent;
	transform: scaleX(0);
	transition: 0.3s cubic-bezier(0.25, 1, 0.5, 1);
	pointer-events: none;
}
content.search-mode .search-container {
	transform: scaleX(1);
	pointer-events: all;
}

content .search-container input {
	width: 100%;
	height: 48px;
	padding: 8px 16px;
	border-radius: 50px 0 0 50px;
	border: none;
	color: var(--sec);
	background: var(--accent);
	outline: none;
}

content .search-container .actions-container {
	inset: 0 0 auto auto;
	box-shadow: none;
}
content .search-container .actions-container .fab { width: 48px; }
