:root {
	--main-bg: #fff;
	--main-fg: #333;
	--accent-fg: #ccc;
	--accent-bg: #6e44d1;
	--accent-bg-transparent: #ece6f9;
	--accent-red: red;
}

/* RESETS */
* { box-sizing: border-box; }
body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.margin { margin: 8px; }
.justify-end { margin-left: auto; }
.grow { flex-grow: 1; }

.inline {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 12px;
}
.inline .input { width: auto; }
.inline.equal .input { flex: 1 0 0; }

button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	margin: 4px;
	padding: 0 16px;
	border: none;
	border-radius: 28px;
	color: var(--main-bg);
	background: var(--accent-bg);
	font-weight: 500;
	transition: 0.2s;
	cursor: pointer;
}
button.secondary {
	color: var(--accent-bg);
	background: var(--main-bg);
}
button.red {
	color: var(--main-bg);
	background: var(--accent-red);
}

button.icon { max-width: 36px; min-width: 36px; }
button.icon img { width: 24px; height: 24px; }

button:hover { filter: brightness(.8); }
button:active { filter: brightness(.7); }

/* FAB buttons */
.fab {
	position: fixed;
	width: 56px;
	height: 56px;
	bottom: 24px;
	right: 24px;
	border-radius: 50%;
	font-size: 28px;
	box-shadow: 0px 3px 8px rgba(14, 54, 136, 0.2);
}

.fab.secondary.disabled { transform: scale(0); }
.fab.scrolled { transform: scale(0); }

/* INPUTS */
.input {
	position: relative;
	width: 100%;
}

.input input, .input textarea, .input select {
	width: 100%;
	height: 48px;
	border: none;
	border-bottom: 1px solid var(--accent-fg);
	box-sizing: border-box;
	padding: 24px 12px 4px 8px;
	background: transparent;
	font-size: 16px;
	resize: vertical;
	outline: none;
	transition: 0.2s;
}
.input *::placeholder { color: transparent; }

.input label {
	position: absolute;
	left: 4px;
	top: 14px;
	padding: 0 6px;
	color: var(--main-fg);
	pointer-events: none;
	transition: 0.2s;
}
.input textarea + label {
	top: 28px;
}

.input input:focus + label, .input input:not(:placeholder-shown) + label,
.input select:focus + label, .input select:not(:placeholder-shown) + label,
.input textarea:focus + label, .input textarea:not(:placeholder-shown) + label {
	top: 4px;
	color: var(--accent-bg) !important;
	font-size: 11px !important;
	font-weight: bold;
}

.input input:focus, .input input:hover,
.input select:focus, .input select:hover,
.input textarea:focus, .input textarea:hover {
	border-color: var(--accent-bg);
	box-shadow: 0 1px 0 0 var(--accent-bg);
}

/* EDITOR-SPECIFIC */
body {
	max-width: 720px;
	margin: auto;
}

section, header {
	position: relative;
	width: auto !important;
	margin: 12px;
	padding: 8px 12px;
	border-radius: 12px;
	background: #ece6f9;
}
header {
	position: sticky;
	top: 0;
	margin: 0;
	padding-top: 20px;
	border-radius: 0;
	background: var(--main-bg);
	z-index: 1;
}

/* section { border: 1px solid var(--accent-fg); } */

.content { margin-top: 28px; }
.content textarea { min-height: 100px; }

main:empty::before, main:empty::after {
	position: fixed;
	top: 50%;
	left: 50%;
	max-width: 512px;
	text-align: center;
	transform: translateX(-50%);
	color: #c9b4f8;
}
main:empty::before {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23ece6f9' fill-rule='evenodd' d='M20.5 3h-17c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h17c.55 0 1-.45 1-1V4c0-.55-.45-1-1-1Zm-1 6V5h-15v4h15Zm0 10v-4h-15v4h15Zm-16-6h17c.55 0 1 .45 1 1v6c0 .55-.45 1-1 1h-17c-.55 0-1-.45-1-1v-6c0-.55.45-1 1-1Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	width: 256px;
	top: calc(50% - 256px)
}
main:empty::after {
	content: 'Start by adding sections using the plus button at the bottom right and when done, click on the download button';
}

.close, .drag {
	position: absolute;
	top: -4px;
	right: -48px;
}
.drag { top: 44px; }