document.page { transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1), font-size 0s; }
settings header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 8px;
	background: var(--accent-bg);
	color: var(--accent-fg);
	z-index: 1;
	box-shadow: 0 4px 4px #0004;
}
settings header .fab {
	background: var(--accent-bg);
	color: var(--accent-fg);
	box-shadow: none;
}
settings header h3 {
	margin: 0 8px;
	font: 300 24px / 24px 'Poppins'
}

settings h4 {
	margin: 20px 12px -4px;
	color: var(--accent-bg);
	font-weight: 600;
}
settings p {
	margin: 4px 12px;
	font-size: 13px;
	color: var(--main-fg);
}

.input-container {
	display: flex;
	align-items: center;
	position: relative;
	height: 48px;
	margin: 12px;
	padding: 8px;
	border: 1px solid var(--accent-bg);
	border-radius: 6px;
	background: #42628e1a;
}

.input-group .input-container {
	margin: -1px 12px 0;
	border-radius: 0;
}
.input-group .input-container:first-child {
	margin-top: 12px;
	border-radius: 6px 6px 0 0;
}
.input-group .input-container:last-child {
	margin-bottom: 12px;
	border-radius: 0 0 6px 6px;
}

settings label {
	color: var(--accent-bg);
	font-weight: 600;
}

/* RANGE */
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	height: 2px;
	width: calc(100% - 4px);
	border-radius: 50px;
	background: var(--accent-bg);
	background: linear-gradient(to right, transparent 6px, var(--accent-bg) 7px calc(100% - 6px), transparent calc(100% - 6px));;
	outline: none;
	transition: .2s;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: var(--accent-bg);
	cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 2px solid var(--main-bg);
	background: var(--accent-bg);
	cursor: pointer;
}

/* OUCH */
.notches {
	margin: -11px 8px 16px;
	display: flex;
	justify-content: space-between;
	pointer-events: none;
}
.notches i {
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background: var(--accent-bg);
}

/* CHECKBOX */
/* Hide default HTML checkbox */
.switch input {
	margin: 0;
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.switch .slider {
	position: absolute;
	height: 24px;
	width: 44px;
	inset-inline-end: 12px;
	border-radius: 50px;
	border: 2px solid var(--accent-bg);
	transition: .4s;
}

.switch .slider:hover {
	opacity: 1;
	background: #c6d5e9;
}

.switch .slider:before {
	content: "";
	position: absolute;
	height: 20px;
	width: 20px;
	inset-inline-start: 2px;
	bottom: 2px;
	border-radius: 20px;
	background: var(--accent-bg);
	transition: .3s;
}

.switch input:checked + .slider, .switch input:checked + .slider:hover { background: #42628e88; }
.switch input:checked + .slider:before { transform: translateX(100%); }

/* lang */

.font-size-container {
	display: block;
	height: auto;
}

/* TIME */
input[type="time"] {
	margin-inline-start: auto;
    border: none;
    background: transparent;
    color: var(--accent-bg);
    outline: none;
    font-size: 20px;
}

/* LANGUAGE */
.document-language-select {
	display: flex;
	align-items: center;
	margin: 0 12px 12px;
}
.big-switch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	background: #42628e1a;
	border: 1px solid var(--accent-bg);
	transition: 0.3s;
}
.big-switch:first-child { border-radius: 6px 0 0 6px; }
.big-switch:last-child { border-radius: 0 6px 6px 0; }
.big-switch:not(:last-child) { border-inline-end: none; }

.big-switch:has(:checked) {
	background: var(--accent-bg);
	color: var(--accent-fg);
}
.big-switch i, .big-switch span {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	font-size: 32px;
    font-style: inherit;
}
.big-switch span {
    align-items: flex-start;
	height: 28px;
    font-size: 14px;
}
.big-switch input { width: 0; height: 0; margin: 0;}